
.toolbar{
     position: fixed;
     width: 43%;
     background: black ;
     height: 900px;
     top: 0%
   
}

.spacer{
    flex: 0.98
}
.toolbar_navigation{
      display: flex;
      align-items: center;
      height: 100%;
}

.toolbar_logo{
    margin-left: 50px;
}

.toolbar_navigation_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
.toolbar_navigation_items link{
    color:white
}