
.toolbar{
     position: fixed;
     top: 5px;
     left: 50px;
     width: 80%;
     margin-right:40px;
     background: rgb(255, 29, 29);
     height: 175px
   
}

.spacer{
    flex: 0.98
}
.toolbar_navigation{
      display: flex;
      align-items: center;
      height: 100%;
}

.toolbar_logo{
    margin-left: 50px;
}

.toolbar_navigation_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
.toolbar_navigation_items link{
    color:white
}